doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css', integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf', crossorigin='anonymous')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    main
      block header  
        header.header
          h4.headtop
            | Welcome to the world of
          h1 
            | #{title} 
          h6.headspec 
            | InfoSec Strategist, Developer & Futurist
            br
          h6.headspec
            | Blockchain Proponent, Web Pundit
      block content
