extends default 

block content
  div.topcontainer
    p.topcontainercontent Working at the intersection of content delivery, application development and information security. 
    p.topcontainercontent Delivering platforms to enable commerce and deliver secure transaction platforms for consumers and merchants alike.
    br
    p.topcontainercontent Harnessing cutting edge technologies with a philosophy of open-source and freely-distributed. 
    p.topcontainercontent Java makes the world go round, and cloud development will always have a place for nascient systems. 
    br
    p.topcontainercontent2 Donate Now || Be a Bean || github: immacmillan || LinkedIn: || Twitter: || Instagram: || Facebook: || 
  div.container
    each comp in homepagedata
      div.comp
        div.comp-image(style=`background: url('/images/${comp.imgSrc}') top center no-repeat; background-size: cover;`)
        h2.comp-type
          | #{comp.type} 
        a(href=`/comps?id=${comp.id}`)
          | View Profile 

    
          
          
