extends default 

block content
  div.container
    each comp in homepagedata
      div.comp
        div.comp-image(style=`background: url('/images/${comp.imgSrc}') top center no-repeat; background-size: cover;`)
        h2.comp-type
          | #{comp.type} 
        a(href=`/comps?id=${comp.id}`)
          | View Profile 
          
          
